.shop-component {
  background: linear-gradient(to bottom, #fff 0%, #f3f7f7 100%);
  //min-height: 100%;

  app-product-list {
    flex: 1 1 100%;
    min-height: calc(100vh - 64px);
  }
}

.navbar {
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #ff6347; /* Change to your desired hover color */
}
