<nav class="navbar">
  <div class="container">
    <div class="logo">
      <a href="/">Shopping App</a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/cart">Cart</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </div>
</nav>



<div class="layout-row shop-component">

  <app-product-list [products]="products"
                    (onAddToCart)="addToCart($event)"
                    (onQuantityUpdate)="updateCart($event)"
                    (removeQuantity)="removeItem($event)"
                    class="flex-70"></app-product-list>

                    <app-cart class="flex-30"
                    [cart]="cart"></app-cart>

</div>

