.shop-component {
  background: linear-gradient(to bottom, #fff 0%, #f3f7f7 100%);
  //min-height: 100%;

  app-product-list {
    flex: 1 1 100%;
    min-height: calc(100vh - 64px);
  }
}

.navbar {
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #ff6347; /* Change to your desired hover color */
}
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;  /* Reduced padding for shorter height */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  text-align: center;
  padding: 5px;  /* Reduced padding inside each section */
}

.footer-logo a {
  font-size: 1.6em;  /* Slightly smaller logo */
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;  /* Removed extra spacing */
}

.footer-links li {
  margin: 5px 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9em;  /* Slightly smaller font */
}

.footer-social a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.4em;  /* Icon size */
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #ffdd57;  /* Change color on hover */
}

.footer-bottom {
  text-align: center;
  margin-top: 10px;
  padding-top: 5px;  /* Reduced space for footer bottom */
  border-top: 1px solid #555;
  font-size: 0.8em;  /* Slightly smaller text */
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;  /* Stack items on smaller screens */
  }

  .footer-section {
    margin-bottom: 10px;
  }
}
